{{>header}}
<div class="main-content">
    <h3>Use this for weather details</h3>
    <form>
        <input placeholder="Location">
        <button>Get Weather Data</button>
    </form>
    <p id="message-1"></p>
    <p id="message-2"></p>
    <p id="message-3"></p>
</div>
{{>footer}}
<script src="/js/script.js" type="application/javascript"></script>

    